<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thêm sản phẩm</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="staticfiles\style.css">
    </head>
    <body>
        <form method="post" enctype="multipart/form-data"> 
            {% csrf_token %}  
            {{ form.as_p }}  
            <button type="submit">Thêm Mặt Hàng</button>
        </form>
            
        <script src="" async defer></script>
    </body>
</html>